html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('bg.png');/*https://source.unsplash.com/BtbjCFUvBXs/1920x1080*/
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* @media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 130px;
    -webkit-appearance: none;
    background-color: #000;
  }
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #000;
    margin-top: -1px;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #989898;
    box-shadow: -80px 0 0 80px #000;
  }
} */